template(name="newModalButton")
  +afModal(class="button btn btn-round btn-shadowed2 btn-success" collection=collection operation="insert" doc=doc)
    span
      i.fa.fa-lg.fa-plus
    
template(name="newButton")
  button.button.btn.btn-round.btn-shadowed2.btn-success(id=id)
    span
      i.fa.fa-lg.fa-plus