head
  title workwork
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
body

template(name="layout")
  header
    +navbar
  main
    +autoformModals
    {{> Template.dynamic template=content}}
  //footer.page-footer
    .container
      h5.white-text please support workwork
      p.white-text I put a lot of work into workwork and share it with you for free. But Internethosting comes at a price.
    .footer-copyright
      .container
        p.center copyright 2015 Jan Pilgenröder
        p