body
  padding-top 70px
  background #ccc

.button-bar
  padding 1em
  margin-right .5em
  text-align right
  
.card-panel
  padding .5em
  margin .5em
  border 1px solid grey
  border-radius 5px
  box-shadow 4px 4px 8px grey
  background #fefefe
  
.subset
  padding-left 2em
  
.handle
  cursor move
  cursor -webkit-grabbing
  
.btn-round
  border-radius 50%
  height : 37px
  margin .5em
  
.btn-shadowed
  box-shadow 2px 2px 4px grey
  
.btn-shadowed2
  box-shadow 4px 4px 8px grey
  
.task-title
  padding .3em
  text-align center
  font-size 2em
  color grey
  text-shadow 2px 2px 4px black inlay
  
.clock
  margin-left auto
  margin-right auto
  margin-top .3em
  margin-bottom .5em
  padding .1em
  width 6em
  border-radius 1em
  background black
  color lime
  font-family monospace
  font-size 2em
  text-shadow 1px 1px 8px lime
  box-shadow 2px 1px 13px 3px silver inset
  